

<a href='https://api.whatsapp.com/send?phone=5511995384270' target='_blank'>
  <img src="/Icons/whatsapp.svg" alt="WhatsApp" width="34" height="34"  />
</a>
<a href="https://www.linkedin.com/in/reinaldocouto/" target="_blank">
  <img src="/Icons/linkedin.svg" alt="LinkedIn" width="34" height="34"  />
</a>
<a href="https://github.com/Reinaldocouto" target="_blank">
  <img src="/Icons/github.svg" alt="GitHub" width="34" height="34"  />
</a>
