<section id="projetos">
  <h2 id="projetos" class="text-2xl font-bold mt-8 mb-4">Projetos</h2>
  <div class="projeto">
    <h3>Projeto 1</h3>
    <p>Este projeto é uma plataforma de compartilhamento de experiências de jogos, criada com React, Tailwind CSS e outras tecnologias front e back-end. Oferece uma interface intuitiva e responsiva para os usuários registrarem suas jornadas, com foco em desempenho otimizado e design limpo. Demonstra minha habilidade em desenvolvimento front-end e compromisso com soluções práticas e eficientes.</p>
    <br />

    <a href="https://jazerei.com.br" target="_blank">
      <img src="/meusite.png" alt="Meu Site" />
    </a>
  </div>
  <br />
  <br />
  <h3>Projeto 2</h3>

  <div class="projeto-container">
    <div class="projeto-video">
      <iframe
        width="560"
        height="220"
        src="https://www.youtube.com/embed/yqUDrLX8778"
        title="NEXT FIAP FESTIVAL 2022"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <br />
    <div class="projeto-descricao">
      <p>
        FIAP NEXT - Um Evento Transformador para o Futuro da Tecnologia O FIAP
        NEXT é um evento inovador que reúne mentes brilhantes e apaixonadas por
        tecnologia, proporcionando uma experiência única no campo da inovação e
        empreendedorismo. Com foco nas últimas tendências tecnológicas e nas
        perspectivas do futuro, o evento é uma verdadeira celebração da
        criatividade e do conhecimento. Com duração de vários dias, o FIAP NEXT
        é realizado anualmente pela FIAP, uma instituição reconhecida por sua
        excelência em educação tecnológica. O evento é projetado para atrair
        profissionais, estudantes, empreendedores e entusiastas da área de
        tecnologia, oferecendo uma plataforma de aprendizado, networking e
        oportunidades de negócios.
      </p>
      <a href="http://link-projeto1.com">Link para o projeto 2</a>
      <br />
    </div>
    <br />
  </div>
  <br />
  <h3>Projeto 3</h3>
  <div class="projeto-container">
    <div class="projeto-video">
      <iframe
        width="560"
        height="220"
        src="https://www.youtube.com/embed/MwBEJiPyLwg"
        title="NEXT FIAP FESTIVAL 2019"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <br />
    <div class="projeto-descricao">
      <p>
        O Sistema de Estacionamento em Java é uma solução inteligente que
        gerencia vagas, oferece check-in/out rápido, notificações, pagamentos
        integrados e relatórios. Com tecnologias como Java, MySQL e Spring
        Framework, garante eficiência operacional, aumento de receita e melhor
        experiência do usuário. Sua segurança e sustentabilidade contribuem para
        um ambiente mais seguro e ecológico. Versátil e flexível, pode ser
        adaptado a diferentes tipos de estacionamentos, desde pequenos até
        grandes estabelecimentos.
      </p>
      <a href="https://github.com/Reinaldocouto/2SIPG-SistemaEstacionamento.git"
        >Link para o projeto 3</a
      >
    </div>
    <br />
  </div>
  <br />
</section>
